.container {
    margin: 0px auto;
    height: 100dvh;
    max-width: 1536px;
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}
@media screen and (max-width: 640px) {
    .container {
        max-width: 100%;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-row {
    display: flex;
}
.square {
    width: 100px;
    height: 100px;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
}

.win-square {
    --color: #1aacac;
    background-color: var(--color);
    border: 1px solid var(--color);
    color: #fff;
    font-weight: 600;
    transition: all 0.1s linear;
}

.status {
    text-align: center;
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 600;
}

.game {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 96px;
}

.game-board {
    flex-shrink: 0;
}

.game-info {
    min-width: 300px;
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        align-items: flex-start;
    }
    .game {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }

    .game-board {
        position: sticky;
        top: 0;
        background: #fff;
    }
    .jump-btn-list {
        display: grid;
        gap: 12px;
    }

    .game-info {
        min-width: 100%;
        font-size: 2rem;
    }
}

.jump-btn {
    margin-bottom: 4px;
    width: 100%;
    padding: 8px 12px;
    font-size: 2rem;
}

.current-move {
    font-size: 2rem;
    font-weight: 600;
}

svg {
    width: 20px;
    height: 20px;
}

.sort-btn {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
    padding: 4px 8px;
    background-color: transparent;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.sort-btn:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
}
